@import "mixins.scss";
@import "normalize.css";
$blanco:#ffffff;
$negro:#000000;
$verde:#118a83;
$amarillo:#f6b018;
$gris:#a3a3a4;
body{
	background:$blanco;
	font-size:1em;
}
ul,body{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
iframe, object, embed {
width: 100%;
height: 100%;
}

.clear{
	clear: both;
}
.wrapper, .content, .center{
	margin: 0 auto;
	position:relative;
}
.wrapper{
	width: 1024px;
	margin-top:37px;
}
.content{
	max-width: 1600px;
}
.header{
	background:$verde;
	height:37px;
	@include box-shadow(0px, 4px, 13px, $gris);
	position: fixed;
	top:0;
	z-index: 1000;
	width:100%;
	max-width:1600px;
}
.menu{
	position: absolute;
	right:52px;
}
.menu li{
	display:inline-block;
	list-style:none;
	margin-top:8px;
	padding:0 15px;
	position: relative;
}
.menu li a {
	color:$blanco;
	font-size:0.8em;
}
.menu li span{
  position: absolute;
  border-right: 8px solid transparent;
  border-top: 8px solid $amarillo;
  border-left: 8px solid transparent; 
  margin-left: 5px;
  top: -18px;
  @include transition(all, .3s, ease-in-out);
}
.menu li:hover span{
	top:6px;
}
.activate span{
  top: 6px!important;
}
.logo{
	padding:46px 0 ;
	margin:0;
	display:inline-block;
	width:49.8%;
}
.redes{
	text-align:right;
}
.red{
	width:40px;
	height:40px;
	margin-left:10px;
	display:inline-block;
	@include transition(all, .3s, ease-in-out);
}
.red:hover{
	background-position:bottom;
}
.print{
	background:url('../img/redes-sprite.png') top left;
}
.face{
	background:url('../img/redes-sprite.png') -49px 0px;
}
.twitter{
	background:url('../img/redes-sprite.png') top right;
	width:43px;
}.print:hover{
	background-position:bottom left;
}
.face:hover{
	background-position:-49px 39px;
}
.twitter:hover{
	background-position:bottom right;
}
.cycle-slideshow{
	width:100%;
	height:550px;
}
.cycle-slideshow>div{
	width:100%;
	height:550px;
}
.cycle-slideshow .item-slide{
	width:100%;
	height:550px;
}
.cycle-slideshow .item-slide .label{
	color:$blanco;
}
.cycle-slideshow .item-slide .label h1,.cycle-slideshow .item-slide .label h2{
	font-weight:normal;
	text-shadow:0 0 4px #a09c9c;
	margin:0;
	left:12px;
}
.cycle-slideshow .item-slide .label h1{
	font-size:3em;
	top:35px;
	line-height:1em;
}
.cycle-slideshow .item-slide .label h2{
	top:130px;
	font-size:1.8em;
}

.slide1{
	background:url('../img/slide1.jpg') no-repeat;
}
.slide2{
	background:url('../img/slide2.jpg') no-repeat;
}
.slide3{
	background:url('../img/slide3.jpg') no-repeat;
}